
@{
    ViewData["Title"] = "Tablas";
}

<h2>Tablas</h2>

<li><a asp-area="" asp-controller="Articulos" asp-action="">Articulo</a></li>
<li><a asp-area="" asp-controller="Autoservicios" asp-action="">Autoservicios</a></li>
<li><a asp-area="" asp-controller="Clientes" asp-action="">Cliente</a></li>
<li><a asp-area="" asp-controller="Empleadoes" asp-action="">Empleado</a></li>
<li><a asp-area="" asp-controller="Proveedors" asp-action="">Proveedor</a></li>

